.formLogin{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formLogin form{
    border: 1px solid black;
    border-radius: 15px;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.formLogin form .formText{
    display: flex;
    flex-direction: column;
}

.formLogin form .formInput{
    display: flex;
    flex-direction: column;
}

.formLogin form img{
    width: 30%;
}

.btn{
    background-color: #84E4FF;
    padding: 5px;
    border-radius: 5px;
}

.btn:hover{
    background-color: #61cdeb;
}